<body class="flex flex-col h-screen bg-black">

<header class=" flex items-center px-4 py-3 border-b text-white">
    <img 
        class="rounded-full w-8 h-8 border-white"
        src="../assets/risitristecontent.png">
    <span class="ml-5 text-lg font-bold">Welcome</span>
</header>

<div class="grow text-white"><app-tweets></app-tweets></div>

<footer class="flex flex-row px-4  justify-centerh-12 border-t border-gray-700 text-white">
    <a class="w-1/4 py-4 text-center text-white border-white" href="">Home</a>
    <a class="w-1/4 py-4 text-center" href="">Search</a>
    <a class="w-1/4 py-4 text-center" href="">Notif</a>
    <a class="w-1/4 py-4 text-center" href="">Messages</a>

</footer>

</body>